In [3]:
import numpy as np
import pandas as pd
from df_to_dictionary.main import df_to_dictionary

In [4]:
df = pd.read_csv('CollegePlace.csv')

In [13]:
df.tail(10)

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
2956,22,Male,Computer Science,0,8,0,0,1
2957,22,Male,Electrical,1,6,0,1,0
2958,23,Male,Computer Science,0,6,0,1,0
2959,23,Male,Information Technology,0,7,0,0,0
2960,23,Male,Mechanical,1,7,1,0,0
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1

In [11]:
df['HistoryOfBacklogs'].unique()

array([1, 0], dtype=int64)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
encoder= LabelEncoder()

In [17]:
df['Stream'] = encoder.fit_transform(df['Stream'])

In [18]:
df.iloc[2710,]

Age                    20
Gender               Male
Stream                  4
Internships             0
CGPA                    7
Hostel                  0
HistoryOfBacklogs       0
PlacedOrNot             0
Name: 2710, dtype: object

In [19]:
x = df.drop(columns = ['Gender','PlacedOrNot'],axis = 1)
y = df['PlacedOrNot']

In [20]:
x.tail(10)

      Age  Stream  Internships  CGPA  Hostel  HistoryOfBacklogs
2956   22       1            0     8       0                  0
2957   22       2            1     6       0                  1
2958   23       1            0     6       0                  1
2959   23       4            0     7       0                  0
2960   23       5            1     7       1                  0
2961   23       4            0     7       0                  0
2962   23       5            1     7       1                  0
2963   22       4            1     7       0                  0
2964   22       1            1     7       0                  0
2965   23       0            0     8       0                  0

In [11]:
x =x.astype('int32')
y = y.astype('int32')

In [16]:
x_data,y_data =df_to_dictionary(x,y,2900)

In [17]:
x.head()

   Age  Stream  Internships  CGPA  Hostel  HistoryOfBacklogs
0   22       3            1     8       1                  1
1   21       1            0     7       1                  1
2   22       4            1     6       0                  0
3   21       4            0     8       0                  1
4   22       5            0     8       1                  0

In [18]:
y_data[0]

1

In [19]:
from river import compose
from river import linear_model
from river import metrics
from river import preprocessing

model = compose.Pipeline(
    preprocessing.StandardScaler(),
    linear_model.LogisticRegression())

metric = metrics.Accuracy()

for i in range(0,1290):
    y_pred = model.predict_one(x_data[i])      # make a prediction
    metric = metric.update(y_data[i], y_pred)  # update the metric
    model = model.learn_one(x_data[i], y_data[i])
print(metric)

Accuracy: 72.79%

In [20]:
x_data[8]

{'Age': 21,
 'Stream': 1,
 'Internships': 2,
 'CGPA': 6,
 'Hostel': 0,
 'HistoryOfBacklogs': 0}

In [21]:
model.predict_one(x_data[2])

False

In [23]:
model.predict_one(x_data[3])

True

In [24]:
import joblib

In [25]:
joblib.dump(model,"model.joblib")

['model.joblib']